@model Website.Models.ClassViewModel

@{
ViewBag.Title = "Classes";
}

<h2>Welcome to the Classes Page</h2>
<p>This is a list of all of the classes that are offered at The Learning Center</p>

<table class="table">
	<tr>
	 <th>Class name</th>
	 <th>Class description</th>
	 <th>Class Id</th>
	 <th>Class price</th>
 </tr>





@foreach (var item in Model.Classes)
{
<tr>
	 <td>
		@item.ClassName
	</td>
	<td>
		@item.ClassDescription
	</td>
	<td>
		@item.ClassId
	</td>
	<td>
		@item.ClassPrice
	</td>
 
</tr>
}

</table>