@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Website.Models.EnrollModel>

@{
    ViewBag.Title = "EnrolledClasses";
}

<h2>Enrolled classes</h2>


